<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">

<listeners>
	<listener class-name="com.craft.CustomListener" />
</listeners>

<test name="Sample Application Test">
    <classes>
        <class name="com.craft.AppTest" ></class>  
    </classes>
</test>

<test name="Sample Web Application Test">
    <classes>
        <class name="com.craft.WebAppTest" ></class>  
    </classes>
</test>

</suite>
